@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Source+Code+Pro:300');

body {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 100%;
  margin: 0px;
  padding: 0px;
  --unit-full: 36px;
  --unit-quarter: 9px;
  --unit-half: 18px;
  --unit-double: 72px;
  --unit-quadruple: 144px;
  background-color: #c0c0c0;
}

nav.main {
  position: fixed;
  display: block;
  top: 0px;
  background-color: rgba(0, 42, 51, 0.9);
  min-height: var(--unit-full);
  font-size: .8em;
  z-index: 1;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

nav.main > ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  list-style: none;
  height: 36px;
  padding-top: var(--unit-half);
  padding-bottom: var(--unit-half);
  padding-left: var(--unit-half);
  padding-right: var(--unit-half);
  margin: 0px;
  line-height: var(--unit-full);
  text-transform: uppercase;
}
nav.main ul ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  text-align: right;
}
@media (max-width: 600px) {
  nav.main ul ul {
    flex-direction: column;
    line-height: 1.6em;
  }
}
@media (max-width: 400px) {
  nav.main ul ul {
    display: none;
  }
}

nav.main ul li {
  padding-left: var(--unit-quarter);
  padding-right: var(--unit-quarter);
  list-style: none;
}

nav.main ul li.home {
  align-self: flex-start;
  flex-grow: 1;
}
nav.main ul li.home img {
  width: 205px;
  height: 36px;
}

nav.main ul li a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

body.feed header::before {
  content: ' ';
  background-image: url('https://flowhub.io/assets/bg-finger-w1600q70.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}  
body.feed header {
  position: relative;
}
header {
  padding-top: var(--unit-double);
  padding-bottom: var(--unit-double);
  text-align: center;
  display: flex;
  align-items: center;
  min-height: var(--unit-quadruple);
  justify-content: center;
  background-color: rgba(0, 42, 51, 0.49);
  color: white;
}

header article {
  text-align: center;
  max-width: 80vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: var(--unit-double);
  margin-bottom: var(--unit-double);
}

header h1 {
  font-size: 3em;
}

header ul {
  padding: 0px;
  margin: 0px;
  margin-top: var(--unit-double);
  margin-bottom: var(--unit-double);
  height: var(--unit-full);
  line-height: var(--unit-full);
  border-radius: var(--unit-quarter);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
}
header ul li {
  text-decoration: none;
  margin-left: var(--unit-quarter);
  margin-right: var(--unit-quarter);
  margin-top: var(--unit-half);
  margin-bottom: var(--unit-half);
  font-size: 1em;
}

footer {
  font-size: .8em;
  padding-top: var(--unit-full);
}

footer article {
  text-align: center;
  max-width: 60vw;
  margin-right: auto;
  margin-left: auto;
  padding-top: var(--unit-double);
  padding-bottom: var(--unit-double);
}
footer article ul {
  padding: 0px;
  margin: 0px;
  margin-top: var(--unit-double);
  margin-bottom: var(--unit-double);
  height: var(--unit-full);
  line-height: var(--unit-full);
  border-radius: var(--unit-quarter);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
}
footer article ul li {
  text-decoration: none;
  margin-left: var(--unit-quarter);
  margin-right: var(--unit-quarter);
  margin-top: var(--unit-half);
  margin-bottom: var(--unit-half);
  font-size: 1.3em;
}
footer nav {
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: var(--unit-full);
  padding-right: var(--unit-full);
  padding-top: var(--unit-full);
  padding-bottom: var(--unit-full);
  border-top: 1px solid #333;
}
@media (min-width: 600px) {
  footer nav > ul:nth-of-type(even) {
    text-align: right;
  }
}
footer nav ul {
  padding: 0px;
  margin: 0px;
  font-family: 'Source Code Pro', sans-serif;
}
footer nav ul ul {
  margin-bottom: var(--unit-half);
}
footer nav ul li {
  display: inline;
  margin-right: var(--unit-full);
}
footer nav ul li:last-child {
  margin-right: 0px;
}
footer nav a {
  color: hsla(185, 98%, 46%, .8);
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
footer nav a:hover,
footer nav a:active {
  color: hsl(185, 98%, 46%);
}

section {
  width: 100%;
  display: block;
  padding-top: var(--unit-full);
  padding-bottom: var(--unit-full);
  min-height: var(--unit-double);
}

a.cta::before {
  content: ' ';
  position: absolute;
  border: 2px solid hsla(187, 31%, 6%, .9);
  border-radius: 12px;
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  transition: all 0.3s ease;
}
a.cta {
  border: 1px solid hsla(187, 31%, 6%, .9);
  position: relative;
  white-space: nowrap;
  padding: var(--unit-half);
  text-decoration: none;
  border-radius: var(--unit-quarter);
  background-color: hsla(187, 31%, 6%, .8);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
a.cta:hover,
a.cta:active {
  background-color: hsla(187, 31%, 6%, .4) !important;
  border-color: hsla(185, 98%, 46%, .4) !important;
  color: white !important;
}
a.cta:hover::before,
a.cta:active::before {
  border-color: hsla(185, 98%, 46%, .4) !important;
}

.noflo_dark {
  background-color: hsl(187, 31%, 6%);
  color: hsla( 187, 31%, 90%, .8) !important;
}
.dark {
  background-color: hsla(  0,  0%,   0%, .98);
  color: hsla( 187, 31%, 90%, .9) !important;
}
.route0  { 
  background-color: hsla(  0, 98%, 100%, .8) !important;
  border-color: hsl(  0, 98%, 100%) !important;
  color: black !important;
}
.route0::before { 
  border-color: hsl(  0, 98%, 100%) !important;
}
.route0 a.cta:hover,
.route0 a.cta:active {
  background-color: transparent !important;
  color: black !important;
}
.route1  { 
  color: white !important;
  background-color: hsla(  0, 98%, 46%, .8) !important;
  border-color: hsl(  0, 98%, 46%) !important;
}
.route1::before  { 
  border-color: hsl(  0, 98%, 46%) !important;
}
.route2  { 
  color: black !important;
  background-color: hsla( 35, 98%, 46%, .8) !important;
  border-color: hsl( 35, 98%, 46%) !important;
}
.route2::before {
  border-color: hsl( 35, 98%, 46%) !important;
}
.route3  { 
  color: black !important;
  background-color: hsla( 60, 98%, 46%, .8) !important;
  border-color: hsl( 60, 98%, 46%) !important;
}
.route3::before {
  border-color: hsl( 60, 98%, 46%) !important;
}
.route4  { 
  color: black !important;
  background-color: hsla(135, 98%, 46%, .8) !important;
  border-color: hsl(135, 98%, 46%) !important;
}
.route4::before {
  border-color: hsl(135, 98%, 46%) !important;
}
.route5  { 
  color: black !important;
  background-color: hsla(160, 98%, 46%, .8) !important;
  border-color: hsl(160, 98%, 46%) !important;
}
.route5::before {
  border-color: hsl(160, 98%, 46%) !important;
}
.route6  { 
  color: black !important;
  background-color: hsla(185, 98%, 46%, .8) !important;
  border-color: hsl(185, 98%, 46%) !important;
}
.route6::before {
  border-color: hsl(185, 98%, 46%) !important;
}
.route7  { 
  color: white !important;
  background-color: hsla(210, 98%, 46%, .8) !important;
  border-color: hsl(210, 98%, 46%) !important;
}
.route7::before {
  border-color: hsl(210, 98%, 46%) !important;
}
.route8  { 
  color: white !important;
  background-color: hsla(285, 98%, 46%, .8) !important;
  border-color: hsl(285, 98%, 46%) !important;
}
.route8::before {
  border-color: hsl(285, 98%, 46%) !important;
}
.route9  { 
  color: white !important;
  background-color: hsla(310, 98%, 46%, .8) !important;
  border-color: hsl(310, 98%, 46%) !important;
}
.route9::before {
  border-color: hsl(310, 98%, 46%) !important;
}
.route10 { 
  color: white !important;
  background-color: hsla(335, 98%, 46%, .8) !important;
  border-color: hsl(335, 98%, 46%) !important;
}
.route10::before {
  border-color: hsl(335, 98%, 46%) !important;
}
.press_blue {
  color: white !important;
  background-color: hsl(190, 90%, 45%);
}
section h1,
section h2,
section p {
  padding: 0px;
  margin: 0px;
}

section h2 a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
section h2 a:hover,
section h2 a:active {
  color: hsl(185, 98%, 33%);
}

section p {
  min-width: 10em;
  max-width: 60em;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

section.textual {
  padding-top: var(--unit-double);
  padding-bottom: var(--unit-double);
}

section.textual p {
  font-family: 'Source Code Pro', sans-serif;
  text-align: center;
  width: 60em;
  max-width: 80vw;
  margin-right: auto;
  margin-left: auto;
}

section.columns {
  padding-top: var(--unit-double);
  padding-bottom: 0px;
  text-align: center;
}
section.columns ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  padding-top: var(--unit-full);
  padding-bottom: var(--unit-double);
  margin: 0px;
  overflow-x: scroll;
}
section.columns ul::-webkit-scrollbar {
  height: 4px;
  background-color: transparent;
}
section.columns ul::-webkit-scrollbar-thumb {
  background-color: white;
}
section.route0 ul::-webkit-scrollbar-thumb {
  background-color: hsla(335, 98%, 46%, .8); 
}

section.columns ul li {
  list-style: none;
  padding-left: var(--unit-half);
  padding-right: var(--unit-half);
  text-align: center;
  min-width: 16em;
  flex: 1;
}
section.columns.tight ul li {
  padding-left: var(--unit-quarter);
  padding-right: var(--unit-quarter);
  min-width: 8em;
}

section.blurb {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0px;
}
section.blurb:nth-of-type(even) {
  flex-direction: row;
}
section.blurb img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 60vw;
  flex: 2 0 0;
}
section.blurb div.device::before {
  content: ' ';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 50%;
  left: -2.2vw;
  z-index: 1;
  display: block;
}
section.blurb div.device {
  margin: var(--unit-full);
  border-top: 3vw solid #333;
  border-bottom: 3vw solid #333;
  border-left: 4vw solid #333;
  border-right: 4vw solid #333;
  border-radius: 1.8vw;
  position: relative;
  display: block;
}
section.blurb div.device::after {
  content: ' ';
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 50%;
  right: -2.9vw;
  z-index: 1;
  display: block;
}
section.blurb article {
  display: block;
  padding: var(--unit-full);
  flex: 1 0 0;
}
section.blurb h2 {
  font-size: .8em;
  margin-bottom: var(--unit-half);
}
section.blurb ul {
  margin-top: var(--unit-full);
  margin-left: 0px;
  padding-left: 0px;
}
section.blurb li {
  list-style: none;
  display: inline-block;
  margin-right: var(--unit-half);
}
section.blurb a,
body.page main a {
  text-decoration: none;
  color: hsla(210, 98%, 46%, .8);
  transition: all 0.3s ease;
  cursor: pointer;
}
section.blurb a:hover,
section.blurb a:active,
body.page main a:hover,
body.page main a:active {
  color: hsl(210, 98%, 46%);
}

section.hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  padding-top: var(--unit-double);
  padding-bottom: var(--unit-double);
  justify-content: center;
}
section.hero img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 60vw;
}
section.hero article {
  display: block;
  max-width: 30vw;
  padding: var(--unit-full);
}
section.hero article ul {
  margin-top: var(--unit-full);
  padding: 0px;
}
section.hero article ul li {
  list-style: none;
}

header,
footer,
nav.noflo_dark,
section.dark,
section.route1,
section.route2,
section.route3,
section.route4,
section.route5,
section.route6,
section.route7,
section.route8,
section.route9 {
  background-image: -webkit-repeating-radial-gradient(center center, hsla(190, 30%, 30%, .3), hsla(190, 30%, 30%, .3) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, hsla(190, 30%, 30%, .3), hsla(190, 30%, 30%, .3) 1px, transparent 1px, transparent 100%);
  background-size: 36px 36px;
}

body.page {
  background-color: hsla(  0,  0%,   0%, .98);
  background-image: -webkit-repeating-radial-gradient(center center, hsla(190, 30%, 30%, .3), hsla(190, 30%, 30%, .3) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, hsla(190, 30%, 30%, .3), hsla(190, 30%, 30%, .3) 1px, transparent 1px, transparent 100%);
  background-size: 36px 36px;
}

body.page main {
  background-color: hsla(  0, 98%, 100%, 1);
  padding: var(--unit-full);
  margin-top: -144px;
  z-index: 2;
  width: 60em;
  max-width: 70vw;
  margin-right: auto;
  margin-left: auto;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

body h1,
body h2,
body h3,
body h4,
body h5 {
  font-family: 'Source Code Pro', sans-serif;
}
body.page main > h1,
body.page main > article > h1 {
  margin-top: 0px;
  paddin-top: 0px;
}

body.page main blockquote {
  border-left: 3px solid hsla(210, 98%, 46%, .8);
  margin-left: 0px;
  padding-left: var(--unit-half);
}

body.page section.blurb {
  margin-top: var(--unit-full);
}

body.page section.blurb img {
  max-width: 30vw;
  flex: 1 0 0;
}
body.page section.blurb article {
  padding-left: 0px;
  padding-right: var(--unit-full);
}
body.page section.blurb:nth-of-type(even) article {
  padding-right: 0px;
  padding-left: var(--unit-full);
}
body.page ul li {
  list-style-type: circle;
}
body.page main > article {
  width: 62%;
  flex: 2;
}
body.page main > article img {
  max-width: 100%;
}
body.page main > article code {
  max-width: 100%;
  font-family: 'Source Code Pro', sans-serif;
}
body.page main > article div.highlighter-rouge {
  max-width: 100%;
  overflow-x: auto;
  padding: var(--unit-half);
  background-color: hsl(187, 31%, 6%);
  color: hsla( 187, 31%, 90%, .8) !important;
  font-family: 'Source Code Pro', sans-serif;
}
body.page main > article div.highlighter-rouge::-webkit-scrollbar {
  height: 4px;
  background-color: transparent;
}
body.page main > article div.highlighter-rouge::-webkit-scrollbar-thumb {
  background-color: hsl(210, 98%, 46%);
}
body.page main > nav.sub {
  background-color: hsla(  0, 98%, 100%, 1);
  flex: 1;
  min-width: 15em;
}
body.page main > nav.sub ul {
  margin: 0px;
  padding-top: var(--unit-full);
  padding-left: var(--unit-double);
}
@media (max-width: 600px) {
  body.page main > nav.sub ul {
    padding-left: 0px;
  }
}
body.page main > nav.sub li {
  list-style: none;
  margin-bottom: var(--unit-half);
  font-family: 'Source Code Pro', sans-serif;
  font-size: 1.1em;
}
body.page main > nav.sub li a {
  color: black;
  display: inline-block;
  border-left: 3px solid hsla(185, 98%, 46%, .8);
  padding-left: var(--unit-half);
  transition: all 0.3s ease;
}
body.page main > nav.sub li a:hover,
body.page main > nav.sub li a:active,
body.page main > nav.sub li.active a {
  border-color: hsl(210, 98%, 46%);
}
