    <footer class="dark">
      <nav class="noflo_dark">
        <ul>
          <ul>
            <li><a href="https://docs.flowhub.io/flowhub-faq/">FAQ</a></li>
            <li><a href="https://plus.google.com/103006100253038167661" rel="publisher"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://twitter.com/flowhub_io"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/flowhub"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="https://github.com/flowhub"><i class="fa fa-github"></i></a></li>
          </ul>
          <ul>
            <li><a href="https://flowhub.io/legal/tos.html">Terms of service</a></li>
            <li><a href="https://flowhub.io/legal/pp.html">Privacy Policy</a></li>
          </ul>
        </ul>
        <ul>
          <ul>
            <li><a href="https://plans.flowhub.io/">Plans and pricing</a></li>
            <li><a href="https://docs.flowhub.io/">Docs and support</a></li>
          </ul>
          <ul>
            <li>Built for <a href="http://noflojs.org/">NoFlo</a>, <a href="http://msgflo.org/">MsgFlo</a> and <a href="http://microflo.org/">MicroFlo</a></li>
          </ul>
        </ul>
      </nav>
    </footer>
