---
layout: default
---
    <header class="{% if page.color %}{{ page.color }}{% else %}route6{% endif %}">
    </header>
    <main>
      <article>
      <h1>{{ page.title }}</h1>
      {{ content }}
      </article>
      <nav class="sub">
        <ul>
          {% for post in site.categories['documentation'] reversed %}
          <li{% if post.url == page.url %} class="active"{% endif%}>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </main>
